<div class="loader" *ngIf="isLoading" ></div>
  
  <div *ngIf="!isLoading">
    <h2>Quizzes</h2>
    <div class="mb-3">
      <a routerLink="/admin/quizzes/new" class="btn btn-primary">Create New Quiz</a>
    </div>


    <div *ngIf="quizzes.length === 0" class="alert alert-info">
      No quizzes found. Create one to get started!
    </div>
    <div  class="row">
      <div *ngFor="let quiz of quizzes" class="col-md-4 mb-4">
        <div class="card">
          <img *ngIf="quiz.image" [src]="quiz.image" class="card-img-top" style="width: 100px;" alt="Quiz image">
          <div class="card-body">
            <h5 class="card-title">{{ quiz.title }}</h5>
            <p class="card-text">{{ quiz.description }}</p>
            <div class="d-flex justify-content-between">
              <a [routerLink]="['/admin/quizzes', quiz.quizz_id]" class="btn btn-info">View</a>
              <a [routerLink]="['/admin/quizzes/edit', quiz.quizz_id]" class="btn btn-warning">Edit</a>
              <button (click)="deleteQuiz(quiz.quizz_id!)" class="btn btn-danger">Delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>